header{

	background-color: #ffffff;
	border-color: #cccccc;
	padding: 1px;
}

.header{

	font-family: "Georgia", Times New Roman, serif;
	background-color: #4aaaa5;
	color: white;
	width: 225px;
	text-align: center;
	margin: 0px;
	margin-left: 210px;
	padding: 5px;
}

.header2{

	font-family: "Georgia", Times New Roman, serif;
	color: #4aaaa5;
	border-bottom: solid #777777;
	padding: 20px;
}

nav{
	
	list-style-type: none;
	float: right;
	position: absolute;
	top: 50px;
	right: 215px;
}

img{
	
	float: left;
	height: 200px;
	width: 200px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 10px;
}

body{

	color: #777777;
	margin: auto;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	background-color: grey;
	
}

div{

	margin: auto;
	width: 960px;
}

section{

	margin-top: 25px;
	margin-bottom: 25px;
	background-color: #ffffff;
	border-color: #dddddd;
	width: 650px;
	padding: 10px;
}

.p1{

	line-height: 200%
}

aside{

	padding: 5px;
	background-color: #ffffff;
	text-align: center;
	width: 270px;
	height: 200px;
	float: right;
	position: absolute;
	top: 110px;
	right: 200px;
	margin-left: 35px;



}

footer{


	position: static;
	text-align: center;
	background-color: #666666;
	padding: 25px;
	margin-bottom: 0px;
	color: white;
	margin-top: 5px;
}

#linkedin{

	height: 45px;
	width: 45px;
}

#github{
	
	height: 45px;
	width: 45px;

}

#sof{

	height: 45px;
	width: 45px;
}

ul{

	align-content: left;
}